/* default font size in REM units */
html {
    font-size: 62.5%; 
}

/* modifies font size for divisions */
span {
    font-size: 1.6rem;
}

/* establishes the input filed */
* {
    box-sizing: border-box;
}

body {
    background-color: #9EA0A1;
    Color: #282828;
    display: flex;
    font-family: 'Muli', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: content;
    padding: 1rem;
    min-height: 100vh;
}

p {
    margin: 1rem 0;
    font-size: 1.5rem;
}

h2 {
   margin: .5rem 0 1rem;
   text-align: center; 
}

input[type=checkbox] {
    margin-right: 0;
}

.container {
    background-color: #B7D9B1;
    box-shadow: 0rem 5rem 7rem #282828;
    padding: 10rem;
    width: 50rem;
    max-width:100%;
}

.result-container {
    background-color: #282828;
    display: flex;
    justify-content: flex start;
    align-items: center;
    position: relative;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 1rem .25rem;
    height: 2rem;
    width: 100%;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.result-container .btn {
    font-size: 1rem;
    position: absolute;
    top: 5px;
    right: 5px;
    height: 3rem;
    width: 3rem;
}

.includeUppercase,
.includeLowercase,
.includeNumbers,
.includeSpecialCharacters
 {
    border: none;
    color: #282828;
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem .75rem;
}

.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

/* using REM values to define space when on smaller screens */
@media (min-width: 85rem) {
    .container {
        width: 65rem;
    }
}
    /* screen and (max-width: 400px) {
    .result-container {
            font-size: 14px;
     }
} */


